@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
  --color-background: #000000;
  --font-sans: 'Inter', sans-serif;

  --animate-fade-in: fadeIn 0.5s ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

.glass-panel {
  @apply bg-black/40 backdrop-blur-md border border-white/10 shadow-2xl;
}